<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lab 10</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
  </head>
  <body>
    <div class="container">
        <h1>Form Demo</h1>
        <div id="app">
            <p>
                <span>Textbox:</span>
                <input type="text" v-model="textbox" placeholder="enter your name">
                <p>You type : {{ "Hello " + textbox}}</p>
            </p>

            <p>
                <!-- .lazy modifier -->
                <span>Textbox with .lazy modifier:</span>
                <br>
                <input type="text" v-model.lazy="textboxLazy" placeholder="enter your name">
                <p>You type : {{ "Hello " + textboxLazy }}</p>
            </p>

            <p>
                <!-- .number modifier -->
                <span>Textbox with .number modifier:</span>
                <br>
                <input type="text" v-model.number="textboxNumber" placeholder="enter your age">
                <p>You type : {{ "Hello " + (textboxNumber+5) }}</p>
            </p>

            <p>
                <!-- .trim modifier -->
                <span>Textbox with .trim modifier:</span>
                <br>
                <input type="text" v-model.trim="textboxTrim" placeholder="enter your name">
                <p>You type : {{ "Hello " + textboxTrim }}</p>
            </p>
            
            <p>
                <span>Textarea:</span>
                <br>
                <textarea v-model="textarea" cols="50" rows="4"></textarea>
                <p style="white-space: pre-line;">{{ textarea }}</p>
            </p>

            <p>
                <span>Checkbox:</span>
                <br>
                <input type="checkbox" id="checkbox" v-model="checkbox">
                <label for="checkbox">{{ checked }}</label>
            </p>

            <p>
                <input type="checkbox" v-model="toggle1" true-value="yes" false-value="no">
                <span>Value is: {{ toggle1 }}</span>
            </p>

            <!--
                Checkbox, Radio, Select 
                การเชื่อม v-model กับ input ที่มี type เป็น checkbox, radio, select จะทำให้ค่าของ v-model เป็น value 
                ของตัวที่ถูกเลือก 
            -->
            <p>
                <span>Multiple checkboxes</span>
                <br>
                <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="John" v-model="checkedNames">
                <label for="john">John</label>
                <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                <label for="mike">Mike</label>
                <br>
            <div>You checked: {{ checkedNames }}</div>
            <div>Checked names: {{ checkedNames.join(', ') }}</div>
            <div>Length: {{ checkedNames.length }}</div>
            </p>

            <p>
                <span>Radio:</span>
                <br>
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <input type="radio" id="three" value="Three" v-model="picked">
                <label for="three">Three</label>
                <br>
                <span>Picked: {{ picked }}</span>
            </p>

            <p>
                <span>Select:</span>
                <br>
                <select v-model="selected">
                    <option disabled value="">Please select one</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>Selected: {{ selected }}</span>
            </p>

            <p>
                <select v-model="selected2">
                    <option disabled value="">Please select one</option>
                    <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <span>Selected: {{ selected2 }}</span>
            </p>
            
            <p>
                <span>Multiple select:</span>
                <br>
                <select v-model="selected3" multiple>
                    <option disabled value="">Please select one</option>
                    <option value="abc">ABC</option>
                    <option value="def">DEF</option>
                </select>
                <br>
                <span>Selected: {{ selected3 }}</span>
            </p>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
        data() {
            return {
                message: 'Hello Vue!',
                textbox: '',
                textboxLazy: '',
                textboxNumber: '',
                textboxTrim: '',
                textarea: '',
                checkbox: false,
                checked: 'unchecked',
                toggle1: 'yes',
                checkedNames: [],
                picked: '',
                selected: '',
                selected2: '',
                options: [
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ],
                selected3: []
            }
        }
    })
    app.mount('#app')
    </script>

  </body>
</html>
