<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js - Form input binding</title>
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
</head>

<body>
    <h1>Form Validation Demo</h1>
    <div id="app">
        <!-- @submit เป็นรูปย่อของ v-on:submit -->
        <form @submit.prevent="checkForm">
            <p v-if="Object.keys(errors).length" style="color: red">
                <b>Please correct the following error(s):</b>
            </p>
            
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" v-model="name">
                <span v-if="errors.name" style="color: red">{{ errors.name }}</span>
            </p>

            <p>
                <label for="age">Age</label>
                <input type="number" name="age" id="age" v-model="age" min="0">
                <span v-if="errors.age" style="color: red">{{ errors.age }}</span>
            </p>

            <p>
                <input type="radio" id="gender" value="Male" v-model="gender">
                <label for="gender">Male</label>
                <input type="radio" id="gender" value="Female" v-model="gender">
                <label for="gender">Female</label>
                <span v-if="errors.gender" style="color: red">{{ errors.gender }}</span>
            </p>

            <p>
                <label for="movie">Your favorite Movie</label>
                <select name="movie" id="movie" v-model="movie">
                    <option>Star Wars</option>
                    <option>Vanilla Sky</option>
                    <option>Atomic Blonde</option>
                </select>
                <span v-if="errors.movie" style="color: red">{{ errors.movie }}</span>
            </p>

            <p>
                <!-- <button @click="checkForm">Submit</button> -->
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    errors: [],
                    name: null,
                    age: null,
                    gender: null,
                    movie: null
                }
            },
            methods: {
                checkForm(e) {
                    // alert(this.name + ", " + this.age + ", " + this.sex + ", " + this.movie)
                    // if (this.name && this.age) return true;
                    this.errors = [];
                    if (!this.name) this.errors.name = "  Name required."; //ชื่อ
                    if (!this.age) this.errors.age = "  Age required."; //อายุ
                    if (!this.gender) this.errors.gender = "  Gender required."; //เพศ
                    if (!this.movie) this.errors.movie = "  Favorite Movie required."; //หนังที่ชอบ
                    // prevent form submission

                    // e.preventDefault();
                }
            }
        }).mount('#app');
    </script>
</body>

</html>